@import 'bootstrap/scss/bootstrap';

.custom-container {
  padding: 20px;
  margin-top: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
