.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  max-width: 300px;
  margin: 0 auto;
  background-color: #e0e0e0;
  padding: 5px;
  aspect-ratio: 1; // Ensures the board is always square
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cell {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #f0f0f0;
}

.cell.no-hover:hover {
  background-color: #f8f8f8;
}

@media (max-width: 600px) {
  .board {
    max-width: 100%;
  }
}

.board-container {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.current-player {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.winner-label {
  font-size: 1.2rem;
  color: rgba(54, 96, 71, 0.89);
  font-weight: bold;
  background-color: #90ee90;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  margin: 20px auto;
}

.draw-label {
  font-size: 1.2rem;
  color: rgba(255, 165, 0, 0.89);
  font-weight: bold;
  background-color: #595539;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  margin: 20px auto;
}
